* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-container {
    width: 100%;
    /* border-left: 126px solid #080C59;
    border-right: 126px solid #080C59; */
}
/* Header */

.logo {
    width: 99px;
    height: 98.33px;
    /* margin: 0 20px; */
    /* margin-left: 126px; */
}

.padded-navbar {
    padding-left: 126px;
}

.right-padding {
    padding-right: 126px;
}

.navbars {
    background: #E2DDD7;
    color: #080C59;
    position: fixed;
    top: 0;
    width: 100%;
    height: 13vh;
    z-index: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.custom-nav-link {
    color: #080C59;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    /* margin-left: 90px; */
}

.company-name {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    color: #080C59;
}

/* CTA Button */

.custom-button {
    background-color: #8C230B !important;
    color: #E2DDD7 !important;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .3) !important;
    width: 264px !important;
    height: 58px !important;
    border-radius: 5px !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-color: #E2DDD7 !important;
    /* margin-right: 126px; */
}

.custom-button:hover {
    background-color: #80B2F2 !important;
    color: #080C59 !important;
    box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, .3) inset !important;
}

/* .custom-button {
    background-color: #8C230B;
    color: #E2DDD7;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .3);
    width: 264px;
    height: 58px;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px #E2DDD7;
}

.custom-button:hover {
    background-color: #80B2F2;
    color: #080C59;
    box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, .3) inset;
} */

/* Footer */
.footer-container {
    background-color: #E2DDD7;
}

.footer-container-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.custom-footer-pad {
    padding-left: 126px;
    padding-right: 126px;
    /* padding-top: 50px; */
}
.custom-row {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-nav-link {
    color: #080C59;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #080C59;
}

/* CTA Band */

.custom-cta {
    background-color: #080C59;
    color: #E2DDD7;
    height: 487px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.band-header {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #E2DDD7;
}

/* Home Hero */

.home-hero {
    height: 729px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #080C59;
}

.home-hero-main-text {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    -webkit-text-stroke: 1px #E2DDD7; /* for Safari/Chrome */
  text-stroke: 1px #E2DDD7; /* for other browsers */
    color: #E2DDD7;
}

.body-copy-bold {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E2DDD7;
}

.hero-image {
    width: 562px;
    height: 659px;
    object-fit: cover;
    /* padding: 50px;
    padding-top: 50px; */
}

.custom-col-pad-left {
    padding-left: 126px;
    padding-right: 60px;
    /* padding-top: 50px; */
}

.custom-margin {
    margin-left: 20px;
    margin-top: 90px;
    padding-right: 126px;
}

.row.body-copy-bold p {
    margin-bottom: 80px;
  }

.row.home-hero-main-text p {
    margin-bottom: 50px;
  }