/* * {
    margin: 0;
    padding: 0;
} */
.header-text-regular {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    color: #080C59;
}

.body-copy-regular-blue {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #080C59;
}

.body-copy-regular-cream {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #E2DDD7;
}

.body-copy-bold-blue {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #080C59;
}

.body-copy-bold-cream {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E2DDD7;
}

.subheader-regular {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: #080C59;
}

.custom-container {
    width: 100%;
}

/* Header */

.logo {
    width: 99px;
    height: 98.33px;
}

.custom-block-spacing {
    margin-bottom: 80px;
}

.padded-navbar {
    padding-left: 126px;
}

.right-padding {
    padding-right: 126px;
}

.navbars {
    background: #E2DDD7;
    color: #080C59;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    z-index: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.custom-nav-link {
    color: #080C59;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

.custom-nav-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #80B2F2;
}

.company-name {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    color: #080C59;
}

/* CTA Button */

.custom-button {
    background-color: #8C230B !important;
    color: #E2DDD7 !important;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .3) !important;
    width: 264px !important;
    height: 58px !important;
    border-radius: 5px !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-color: #E2DDD7 !important;
}

.custom-button:hover {
    background-color: #80B2F2 !important;
    color: #080C59 !important;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .3) inset !important;
}



/* Footer */
.footer-container {
    background-color: #E2DDD7;
}

.footer-container-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.custom-footer-pad {
    padding-left: 126px;
    padding-right: 126px;
}

.custom-row {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #080C59;
}

.custom-footer-margin {
    margin-bottom: 30px;
}

/* CTA Band */

.custom-cta {
    background-color: #080C59;
    color: #E2DDD7;
    height: 487px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.band-header {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #E2DDD7;
}

.custom-cta-margin {
    margin-left: 436px;
    margin-right: 436px;
}

/* Home Hero */

.home-hero {
    height: 729px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #080C59;
}

.home-hero-main-text {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    -webkit-text-stroke: 2px #E2DDD7;
    /* for Safari/Chrome */
    text-stroke: 2px #E2DDD7;
    /* for other browsers */
    color: #E2DDD7;
}

.body-copy-bold {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E2DDD7;
}

.hero-image {
    width: 562px;
    height: 659px;
    object-fit: cover;
}

.custom-col-pad-left {
    padding-left: 126px;
    padding-right: 60px;
}

.custom-margin {
    margin-left: 20px;
    margin-top: 90px;
    padding-right: 126px;
}

.row.body-copy-bold p {
    margin-bottom: 80px;
}

.row.home-hero-main-text p {
    margin-bottom: 50px;
}

/* CTABar */

.cta-bar {
    height: 108px;
    width: 100%;
    background-color: #E2DDD7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta-bar p {
    text-align: left;
    margin: 0;
    color: #080C59;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-text-stroke: 1.5px #080C59;
    /* for Safari/Chrome */
    text-stroke: 1.5px #080C59;
    /* for other browsers */
}

/* Service Band */

.service-band {
    background-color: #80B2F2;
    height: 621px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-band-header {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    color: #260502;
    -webkit-text-stroke: 2px #260502;
    /* for Safari/Chrome */
    text-stroke: 2px #260502;
    /* for other browsers */
    padding-bottom: 50px;
}

.service-band-custom-margin {
    margin-left: 126px;
    margin-right: 126px;
}

.service-band-body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #260502;
    font-weight: bold;
    margin-right: 126px;
    padding-bottom: 50px;
}

.service-band .grid-button {
    width: 265px;
    height: 213px;
    padding: 3px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: left;
    margin: 20px !important;
    background-color: #E2DDD7;
    color:#080C59;
    border: none;
    border-radius: 0;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.service-band .grid-button:hover {
    background-color: #080C59;
    color: #E2DDD7;
    box-shadow: inset 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.service-band .grid-button-content {
    /* margin-top: 20px; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.service-band .grid-button-content h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .service-band .grid-button {
        width: 265px;
        height: 213px;
        margin: 20px;
    }
}

/* Testimonials */

.testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #E2DDD7;
    color: #080C59;
}

.testimonials-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    height: 100%;
    padding-left: 126px;
    padding-right: 126px;
    padding-bottom: 50px;
}

.testimonials-container-header {
    padding-top: 30px;
    padding-bottom: 20px;
}

.img-thumb {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Services Hero */

.services-hero-body-margin {
    margin-left: 437px;
    margin-right: 437px;
}

.services-hero-header-margin {
    margin-left: 235px;
    margin-right: 235px;
}