* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.logo {
    width: 99px;
    height: 98.33px;
    margin: 0 20px;
}

.navbar {
    background: #E2DDD7;
    color: #080C59;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.custom-nav-link {
    color: #080C59;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.company-name {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    color: #080C59;
}

.custom-button {
    background-color: #8C230B;
    color: #E2DDD7;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .3);
    width: 264px;
    height: 58px;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px #E2DDD7;
}

.custom-button:hover {
    background-color: #80B2F2;
    color: #080C59;
    box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, .3) inset;
}

/* Footer */
.custom-container {
    background-color: #E2DDD7;
}

.custom-container-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.custom-row {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;;
}

.footer-nav-link {
    color: #080C59;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #080C59;
}

/* CTA Band */

.custom-cta {
    background-color: #080C59;
    color: #E2DDD7;
}

.band-header {
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #E2DDD7;
}